.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* transition: all linear 1s; */
}


.loadingContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingContent > div {
  padding: 40px;
}

.loadingContent > div > h1 {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 40px;
}